<div class="color-white">

  <%= simple_form_for list do |f| %>
      <%= f.input :name, class: 'color-white' %>
      <%= f.input :photo, as: :file, label: "Upload a cover image for your list" %>
      <%= f.submit "Create list", class: 'btn btn-primary border' %>
  <% end %>

</div>
