<div class="color-white" style="background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(https://images.unsplash.com/photo-1606622683760-60f6ea238261?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=802&q=80);">
  <div class="container">
    <div class="d-flex justify-content-between my-5">
      <h1>Create a list_</h1>
      <div class="my-2">
        <%= link_to "Back", root_path, class: "btn-medium"  %>
      </div>
    </div>
    <p>Create your own collection</p>
    <div class="pb-5">
    <%= render 'form', list: @list %>
    </div>
  </div>
</div>

