.btn-medium {
  color: #afaeae;
  border: solid 1px #afaeae;
  border-radius: 2px;
  padding: 8px 20px;
  font-weight: lighter;
  display: inline-block;
}

.btn-medium:hover {
  color: rgb(219, 14, 99);
  border: solid 1px #afaeae;
  text-decoration: none;
}

a {
  text-decoration: none;
}
